.character-sort-wrap {
  background-color: white;
  max-width: 1280px;
  width: 100%;
  margin-top: 7px;
  height: 100%;
  margin-bottom: 30px;
}

.character-info-mini {
  height: 70px;
  color: white;
  padding-left: 10px;
  padding-top: 1px;
  background-size: 120%;
}

.character-info-mini p:first-child {
  margin: 16px 0 5px;
}

.character-info-mini p:last-child {
  margin: 0;
}
