/* 설정 */
.todo-wrap.setting .character-info {
  position: relative;
  padding-bottom: 30px;
}

.todo-wrap.setting .character-info .css-1nrlq1o-MuiFormControl-root {
  position: absolute;
  bottom: 10px;
}

.todo-wrap.setting
  .css-hsnbfo-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  background: #ff7a7a;
  outline: none !important;
  border: 0;
  border-radius: 0;
  font-size: 15px;
  font-weight: 500;
}

.todo-wrap.setting
  .css-x4xdo-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  background: #84beff;
  outline: none !important;
  border: 0;
  border-radius: 0;
  font-size: 15px;
  font-weight: 500;
}

.todo-wrap.setting
  .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 3px 25px;
}

.todo-wrap.setting .character-wrap:first-child .content:not(.gauge-box):before {
  display: none;
}

.todo-wrap.setting .character-wrap:first-child .content:not(.gauge-box) {
  padding: 5px 10px 5px 10px;
  justify-content: space-between !important;
}

.todo-wrap.setting .character-wrap:nth-child(2) .content:not(.gauge-box) > div {
  display: flex;
}

.todo-wrap.setting .character-wrap:nth-child(2) .content:not(.gauge-box) {
  margin-top: 0;
}

.setTxt {
  display: flex;
  align-items: center;
}
.css-8vnh0h-MuiPaper-root-MuiAlert-root {
  background: #333 !important;
  word-break: keep-all;
}

.input-txt fieldset {
  border-color: var(--border) !important;
}
