@import "../Reset.css";

.miniModal {
  border:1px solid #dbdbdb;
  text-align: center;
  background-color: var(--bg);
  border-radius:16px;
  padding:24px 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width:300px;
  max-height:500px;
}

.closeButton:hover {
  color: #ff0000;
}

.modal-title {
  width:100%;
  background-color: initial !important;
  color: var(--fColor);
  display: inline-block;
  margin-bottom:16px;
  font-size: 22px;
  font-weight: 700;
  position: relative;
  text-align: left !important;
  border-radius: 7px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 2;
  font-weight: bold;
  margin:0;
}

.button-wrap{
  margin-top:16px;
}