header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100% !important;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.03) !important;
  background: #333;
  box-sizing: border-box;
  padding: 0 32px;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.links .active {
  /*주소 활성화*/
  color: #fff; /* 활성화된 링크 텍스트 색상 */
  font-weight: 600; /* 텍스트 굵기 강조 */
  border-bottom: 1px solid #fff; /* 밑줄 추가 */
}

.navbar li {
  list-style: none;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.navbar .logo {
  height: 46px;
}

.navbar .logo img {
  width: 140px;
  cursor: pointer;
}

.navbar .links {
  margin-left: 32px;
  display: flex;
  gap: 32px;
}

.navbar .links a:hover {
  border-bottom: 1px solid #fff;
}

.navbar .menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.navbar .menus .toggle_btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .menus .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.action_btn {
  display: block;
  padding: 0;
  outline: none;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.login_name {
  color: #fff;
  padding: 0.5rem 0.2rem;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.navbar .toggle_btn {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar .toggle_btn .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  color: var(--text-color);
}

.navbar .toggle_btn .icon path {
  color: #fff;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 16px;
  top: 48px;
  height: 0px;
  width: 300px;
  background: var(--bg);

  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 99;
}

.ui-dark .dropdown_menu {
  background-color: #414141;
}

[role="tabpanel"] div .wrap {
  padding-top: 7px;
}

[role="tabpanel"] > div > .setting-wrap .content-button + p {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-top: 8px;
  font-weight: 600;
}

[role="tabpanel"] > div > .setting-wrap .content-button:after {
  display: none;
}
[role="tabpanel"] > div > .setting-wrap .content-button:before {
  display: none;
}

.MuiTabs-indicator {
  background: #333 !important;
}
.ui-dark .MuiTabs-indicator {
  background: #fff !important;
}

.dropdown_menu.open {
  height: auto;
  border: 1px solid var(--border);
}

.dropdown_menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.dropdown_menu li:last-child {
  margin-bottom: 16px;
}

.dropdown_menu li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

.dropdown_menu li a:hover {
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown_menu .login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
}

.dropdown_menu .login_box :hover {
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.dropdown_menu .login_box .login_name {
  cursor: default;
  color:#000;
  padding: 0;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
}

.dropdown_menu .login_box .logout_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  cursor: pointer;
}

.dropdown_menu .login_box .logout_btn:hover {
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.user_info_wrap {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: right;
  margin: 0 auto;
}

.user_info {
  position: absolute;
  top: 68px;
  right: 45px;
  width: 160px;
  padding: 5px 0;
  background: #fff;
  border-radius: 12px;
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 99;
}

.user_info li {
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_info li a {
  color: #101010;
  text-decoration: none;
  line-height: 22px;
  border-bottom: 1px solid #fff;
}
.user_info li a:hover {
  line-height: 22px;
  border-bottom: 1px solid #222;
}

.user_info li div {
  margin-bottom: 1px;
}
.user_info li div:hover {
  cursor: pointer;
  line-height: 22px;
  margin-top: -1px;
  margin-bottom: -2px;
  border-bottom: 1px solid #222;
}

.user_info .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notification-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  background: url("../../../public/images/ico_alert02.png") no-repeat center /
    24px;
}

.notification-container path {
  display: none;
}

.notification-list {
  min-width: 300px;
  position: absolute;
  top: 100%;
  right: -100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: rgba(200, 200, 200, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 99;
}

.notifications li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.notifications li:hover {
  color: orange;
  background-color: rgba(0, 0, 0, 0%);
}

.notifications li:last-child {
  border-bottom: none;
}

.theme-label {
  width: 40px;
  height: 40px;
  display: flex;
  background: url(../../../public/images/ico_dark.png) no-repeat center / 100%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 99;
  zoom: 60%;
}

.theme-input {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

.theme-label,
.theme-label:after {
  transition: 0.3
}

.kakao-btn {
  background-color: #fee500;
  color: #444 !important;
  border-radius: 5px;
  width:110px;
  text-align:center;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: fit-content;
  margin-top: 10px;
}

.kakao-btn a {
  color: #3c1e1e !important;
  font-size: 14px !important;
  font-weight: normal;
}

@media (max-width: 900px) {
  .navbar .links,
  .navbar .menus .buttons {
    display: none;
  }

  .navbar .menus .toggle_btn {
    display: flex;
  }

  .dropdown_menu {
    display: block;
  }

  .user_info {
    display: none;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 120px;
    width: unset;
  }

  .setting-wrap .content-button {
    width: 100%;
    font-size: 0;
  }
  .setting-wrap .content-button:before {
    content: "도가토";
    font-size: 14px;
    color: var(--fColor);
  }

  .setting-wrap .content-button:last-child:before {
    content: "도비스";
  }
  [role="tabpanel"] > div > .setting-wrap .content-button {
    font-size: 14px;
    margin-top: 12px;
    padding-left: 0;
  }
}
