.comments {
  max-width: 1280px;
  width: 100%;
  color: var(--text-color);
  /* height: 100%; */
}

.comments h2 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 600;
}

.comments p {
  margin-left: 12px;
  font-size: 14px;
}

.comments-title {
  font-size: 16px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.noticeBox {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.noticeBox + .noticeBox {
  margin-top: 16px;
}

.noticeBox > p {
  min-width: 100px;
  margin: 0;
  font-size: 20px !important;
  font-weight: 700;
  position: relative;
  padding-left: 5px;
}

.noticeBox .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed var(--border);
  line-height: 21px;
}
.noticeBox .cont a {
  color: var(--fColor);
  font-weight: 700;
}

.noticeBox .cont p {
  margin-top: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 16px;
}

.noticeBox .cont ul {
  margin: 0;
  padding: 0;
}

.noticeBox .cont ul li {
  position: relative;
  padding-left: 10px;
  margin: 0;
  font-size: 15px;
}

.noticeBox .cont ul li + li {
  margin-top: 7px;
}

.noticeBox .cont ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 3px;
  height: 3px;
  background: #666;
  border-radius: 50%;
}

.noticeBox .cont ul li::marker {
  display: none;
  font-size: 0;
}

.noticeBox .cont .flex {
  display: flex;
  margin-bottom: 20px;
}

.noticeBox .cont .flex .date {
  font-weight: 700;
  color: #333;
  margin: 0;
  margin-right: 10px;
}

.noticeBox .cont .flex .txt {
  margin: 0;
}

.noticeBox:not(.box05) {
  display: flex;
  flex-direction: column;
}

.noticeBox.box01 p:before {
  content: "";
  position: absolute;
  left: -7px;
  top: -5px;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
}

.noticeBox.box02 p:before {
  content: "";
  position: absolute;
  left: -7px;
  top: -5px;
  width: 5px;
  height: 5px;
  background: orange;
  border-radius: 50%;
}

.noticeBox.box03 p:before {
  content: "";
  position: absolute;
  left: -7px;
  top: -5px;
  width: 5px;
  height: 5px;
  background: green;
  border-radius: 50%;
}

.noticeBox.box04 p:before {
  content: "";
  position: absolute;
  left: -7px;
  top: -5px;
  width: 5px;
  height: 5px;
  background: blue;
  border-radius: 50%;
}

.pathNote {
  margin: 0;
  overflow: hidden;
  border-radius: 7px;
}

.pathNote .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  background: #efefef;
  overflow: hidden;
}

.pathNote .css-15v22id-MuiAccordionDetails-root {
  padding: 16px 16px 16px !important;
  border-top: 1px solid #ddd;
}

.comment-form-title {
  font-size: 18px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: var(--text-color);
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 10px;
}

.comment.root {
  border: 1px solid black;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
  width: 30px;
}

.comment-right-part {
  width: 100%;
  margin-top: 4px;
}

.comment-content {
  display: flex;
  width: 100%;
  color: #888;
  font-size: 14px;
}

.comment-author {
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}

.comment-text {
  margin-top: 10px;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 22px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: var(--text-color);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

.noticeBox.box05 form {
  display: flex;
}

.noticeBox.box05 form .comment-form-textarea {
  padding: 16px;
  border: 1px solid var(--border);
  font-size: 14px;
  border-radius: 10px;
}

.noticeBox.box05 form .comment-form-textarea::placeholder {
  font-size: 14px;
}

.noticeBox.box05 form .comment-form-button {
  width: 100px;
  border: 0;
  border-radius: 0;
  color: var(--fColor);
  height: 80px;
  margin-left: 8px;
  background: var(--background);
  font-size: 14px;
  padding: 0;
  border-radius: 10px;
}
