@import url("../Reset.css");

.friends-wrap {
  overflow: hidden;
  max-width: 1280px;
  width: 100%;
}

.friends-wrap .friends-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.friends-wrap .friends-button-group .friends-button-box .add-button {
  height: 100%;
  border-radius: 10px;
  padding:8px 16px;
  border: 1px solid var(--border);
  background:var(--bg);
  color:var(--text-color);
}

.friends-wrap .friends-button-group .friends-button-box .remove-button {
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

.friends-search-box {
  position: relative;
  display: inline-block;
}

.friends-search-box .search-button {
  position: absolute;
  right: -15px;
  top: 6px;
}

.friends-search-box .search-button:hover {
  background: none;
}

.friends-search-box input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

.friend-table-container {
  max-width: 1280px;
  max-height: 800px;
  border-radius: 10px;
}

.friend-table-container .table {
  background-color: white;
}

.table-pagination-container {
  width: 100%;
  max-width: 1280px;
}

.cont-wrap{
    min-height:740px;
    width: calc(100% - 50px);
    margin-top: 16px;
    background: var(--bg);
    border-radius: 16px;
    padding: 24px;
    border: 1px solid var(--border);
}


/*테이블*/
.tbl-list {
  border-top: 1px solid var(--border);
  color: var(--fColor-reverse);
  overflow-x: scroll;
}
.tbl-list table {
  table-layout: fixed;
  font-size: 16px;
}

.tbl-list th {
  height: 40px;
  border-bottom: 1px solid var(--border);
  padding: 0 8px;
  background: var(--bgBk);
}

.tbl-list td {
  height: 56px;
  border-bottom: 1px solid var(--border);
  padding: 0 8px;
  background: var(--bg);
  color: var(--text-color);
  text-align: center;
}
.tbl-list tr:hover td{
    background-color:var(--background);
}

.tbl-list td a {
    color:var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
.tbl-list td a:hover {
  font-weight:600;
}

.tbl-list td .radi-txt {
  margin-top: 3px;
}
.tbl-list td .radi-set {
  text-indent:-999em;
  font-size:0;
  width:16px;
  height:16px;
  background:url("../../../public/images/ico_set.png") no-repeat center / 16px;
}
.tbl-list td .radi-del {
  text-indent:-999em;
  font-size:0;
  width:16px;
  height:16px;
  background:url("../../../public/images/ico_del.png") no-repeat center / 16px;
}

.dark .tbl-list td .radi-set {
background:url("../../../public/images/ico_set_w.png") no-repeat center / 16px;
}
.dark .tbl-list td .radi-del {
background:url("../../../public/images/ico_del_w.png") no-repeat center / 16px;
}

.tbl-list td .radi-txt span {
  font-size: 14px;
  color: var(--fColor03);
}

.tbl-list td .radi-txt span + span {
  margin-left: 4px;
}

.tbl-list tr th:first-child,
.tbl-list td:first-child {
  position: sticky;
  left: 0;
}

@media (max-width: 900px) {
  .friends-wrap {
    width: 100%;
  }

  .friends-wrap .friends-button-group {
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .cont-wrap{
    min-height:500px;
  }
}