@import url('../Reset.css');

.friends-wrap {
    overflow: hidden;
}
.friends-wrap .friends-button-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.friends-wrap .friends-button-group .friends-button-box {
}

.friends-wrap .friends-button-group .friends-button-box .add-button {
    height: 100%;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

.friends-wrap .friends-button-group .friends-button-box .remove-button {
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.friends-wrap .friends-button-group .friends-search-box {
    position: relative;
    display: inline-block;
    justify-content: right;
}
.friends-wrap .friends-button-group .friends-search-box .search-button {
    position: absolute;
    right: 13px;
    top: 6px;
}

.friends-wrap .friends-button-group .friends-search-box .search-button:hover {
    background: none;
}


.friends-wrap .friends-search-box input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 300px;
}

.friend-table-container {
    max-width: 1280px;
    max-height: 800px;
    border-radius: 10px;
}

.friend-table-container .table {
    background-color: white;
}

.table-pagination-container {
    width: 100%;
    max-width: 1280px;
}


