@import url("./Reset.css");

.speed-dial-menu {
  position: fixed;
  top: 80px;
  right: 0;
  z-index: 3;
  font-weight: bold;
}

.speed-dial-button {
  width: 40px;
  height: 40px;
  background-color: var(--fColor02);
  color: var(--background);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  padding-bottom: 5px;
}

.speed-dial-items {
  background:var(--bg);
  list-style-type: none;
  padding:12px;
  margin: 0;
  position: absolute;
  top: 56px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  border-radius:16px 0 0 16px;
  border:1px solid var(--border);
  max-height:726px;
  overflow-y:auto;
}

.speed-dial-items.active {
  opacity: 1;
  pointer-events: auto;
}

.speed-dial-item + .speed-dial-item{
  margin-top:8px;
}
.speed-dial-item {
  color: var(--text-color);
  text-align: center;
  width: 104px;
  padding: 30px 10px 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size:14px;
  border-radius:12px;
  word-break:auto-phrase;
  box-sizing: border-box;
  color:var(--fColor03);
}

.speed-dial-item:nth-child(1){
  background:url("../../public/images/ico_change.png") no-repeat center top 9px;
}

.speed-dial-item:nth-child(2){
  background:url("../../public/images/ico_all.png") no-repeat center top 9px;
}

.speed-dial-item:nth-child(3){
  background:url("../../public/images/ico_onoff.png") no-repeat center top 9px;
}

.speed-dial-item:nth-child(4){
  background:url("../../public/images/ico_update.png") no-repeat center top 9px;
}

.speed-dial-item.friend:first-child{border-top:1px solid var(--border)}

.speed-dial-item.friend{
  background:url("../../public/images/ico_friend.png") no-repeat center top 9px;
  color:var(--text-color);
}

.dark .speed-dial-item.friend{
  background:url("../../public/images/ico_friend_w.png") no-repeat center top 9px;
}

.speed-dial-item:hover {
  background-color: var(--background) !important;
}

.delete-user-characters-form ul {
  list-style: none;
  text-align: left;
}

.delete-user-characters-form button {
  border: none;
  background-color: #ffdd8d;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 17px;
}

.delete-user-characters-form button:hover {
  font-weight: bold;
  background-color: #f8b200;
}

@media (max-width: 900px) {
  .speed-dial-items {
    max-height: 479px;
  }
}