@import "./Color.css";

/* 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

/* 기본 */
* {
  font-family: "Pretendard" !important;
  font-weight: 400;
  outline: none;
}

/* reset */
html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  letter-spacing:-0.02em;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
address,
em,
img,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
form,
fieldset,
iframe {
  display: block;
  border: 0;
}
img,
button {
  border: 0 none;
  vertical-align: middle;
}
hr {
  height: 0;
  display: none;
}
i,
em,
address {
  font-style: normal;
}
label,
button {
  cursor: pointer;
}
caption,
legend {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  text-indent: -9999em;
  overflow: hidden;
  font-size: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
}
input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: "NanumGothic", sans-serif;
  font-weight: 800;
  font-size: 12px;
  color: #000;
  vertical-align: middle;
  box-sizing: border-box;
}
select {
  width: 100%;
  height: 52px;
  font-size: 22px;
  color: #000;
  border: 1px solid #000;
  padding-left: 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}
textarea {
  border: 1px solid #666;
  resize: none;
  overflow-y: auto;
}
button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
  vertical-align: top;
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a {
  color: #000;
  text-decoration: none;
  word-break: break-all;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html,
body {
  background-color: var(--background);
  height: 100%;
}



/* 모바일 */
@media (max-width: 900px) {
  .character-wrap:nth-child(2) .content:not(.gauge-box) {
    padding: 0 5px 7px 5px;
  }
  .sort-wrap {
    display: none;
    /* 요소 숨기기 */
  }

  body {
    min-width: 100vw;
  }

  .wrap {
    padding: 43px 3vw 20px;
    font-size: 14px;
    max-width: 100vw;
  }

  .character-wrap {
    width: 44.7vw;
  }

  .character-info {
    height: 100px;
  }

  .content-box {
    width: 100%;
    padding: 10px 0;
  }

  .setting-wrap {
    margin-top: 10px;
  }

  .setting-wrap .content-button {
    word-break: keep-all;
  }

  /* .setting-wrap .content-button:after {
    left: 9px;
    right:auto;
  } */

  /* .setting-wrap .content-button.done {
    background-position: left 14px top 14px;
  } */

  /* .wrap > .setting-wrap:first-child {
    flex-direction: column;
    margin-top: 0;
  } */

  .setting-wrap.profit-wrap {
    flex-direction: column;
    margin-top: 0;
    align-items: center;
    width: 94%;
  }

  .character-wrap:nth-child(2) .txt {
    word-break: keep-all;
    padding: 0 5px;
  }

  .content-box .bar {
    width: 300px;
  }

  .content-box + .content-box {
    margin-left: 0;
    margin-top: 5px;
  }

  .content-box p {
    font-size: 14px;
  }

  .content-box p span {
    font-size: 14px;
  }

  .content-button:last-child {
    margin-right: 0;
  }

  #fade-button {
    width: 25vw;
    height: 100%;
    padding: 0 !important;
  }

  /* .setting-wrap .content-button.done .content-button-text:before {
    left:3px;
    right:auto;
  }

  .setting-wrap .content-button.done .content-button-text:after {
    left:0 !important;
    right:-50px;
  } */

  .comments {
    overflow: hidden;
    padding: 55px 3vw 20px;
  }
  .comments h2 {
    margin-left: 10px;
  }

  .pagination {
    flex-wrap: wrap;
    padding: 0 12px 20px !important;
  }
  .pagination button {
    width: 30px !important;
    height: 30px !important;
    padding: 3px 5px !important;
    margin-bottom: 10px !important;
    text-align: center;
  }

  .pagination .pagination__first,
  .pagination .pagination__prev,
  .pagination .pagination__next,
  .pagination .pagination__last {
    width: auto !important;
  }

  .css-hyum1k-MuiToolbar-root {
    padding: 0 !important;
  }

  .miniModal {
    min-width: 300px;
  }

  .chaosVisual ul {
    padding-left: 10px;
  }

  .comment {
    margin-bottom: 15px;
  }

  .plus + div {
    margin-left: 4px !important;
  }

  footer {
    margin-top: 30px;
  }
  .character-wrap:nth-child(2)
    .content:not(.gauge-box):last-child
    .css-i4bv87-MuiSvgIcon-root {
    margin-left: 0;
  }
}
