/* 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

/* 기본 */
* {
  font-family: "Pretendard" !important;
  font-weight: 400;
  outline: none;
}

/* reset */
html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
address,
em,
img,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
form,
fieldset,
iframe {
  display: block;
  border: 0;
}
img,
button {
  border: 0 none;
  vertical-align: middle;
}
hr {
  height: 0;
  display: none;
}
i,
em,
address {
  font-style: normal;
}
label,
button {
  cursor: pointer;
}
caption,
legend {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  text-indent: -9999em;
  overflow: hidden;
  font-size: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
}
input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: "NanumGothic", sans-serif;
  font-weight: 800;
  font-size: 12px;
  color: #000;
  vertical-align: middle;
  box-sizing: border-box;
}
select {
  width: 100%;
  height: 52px;
  font-size: 22px;
  color: #000;
  border: 1px solid #000;
  padding-left: 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}
textarea {
  border: 1px solid #666;
  resize: none;
  overflow-y: auto;
}
button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
  vertical-align: top;
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a {
  color: #000;
  text-decoration: none;
  word-break: break-all;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html,
body {
  background-color: var(--background);
  height: 100%;
}

:root {
  --background: #eff1f7;
  --nav-color: #fff;
  --text-color: rgb(0, 0, 0);
  --text-done-color: rgb(50, 50, 50);
  --button-color: #d0e1f9;
  --content-border: 1px ridge black;

  --bg: #fff;
  --fColor: #222;
  --fColor02: #666;
  --border: #dde0e8;
  --characters-info-represent: #333;
  --characters-info-text: #999;
}
